<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>Keyboard Demo</title>
	</head>

	<body>
	    <div>
		<form>
		    <input type="text" class="text-input" id="input-box">
		</form>
		<button type="button" id="keyboard-toggle-button">Show/Hide Keyboard</button>
	    </div>
		<div id="kcontainer">
		  <div class="keyboard_row">
		    <div class="key">~</div>
		    <div class="key">!</div>
		    <div class="key">@</div>
		    <div class="key">#</div>
		    <div class="key">$</div>
		    <div class="key">%</div>
		    <div class="key">^</div>
		    <div class="key">&</div>
		    <div class="key">*</div>
		    <div class="key">(</div>
		    <div class="key">)</div>
		    <div class="key">_</div>
		    <div class="key">+</div>
		    <div class="key key-wide">Bksp</div>
		  </div>
		  <div class="keyboard_row">
		    <div class="key key-wide">->| Tab</div>
		    <div class="key key-letter">q</div>
		    <div class="key key-letter">w</div>
		    <div class="key key-letter">e</div>
		    <div class="key key-letter">r</div>
		    <div class="key key-letter">t</div>
		    <div class="key key-letter">y</div>
		    <div class="key key-letter">u</div>
		    <div class="key key-letter">i</div>
		    <div class="key key-letter">o</div>
		    <div class="key key-letter">p</div>
		    <div class="key">{</div>
		    <div class="key">}</div>
		    <div class="key">|</div>
		  </div>
		  <div class="keyboard_row">
		    <div class="key key-letter">a</div>
		    <div class="key key-letter">s</div>
		    <div class="key key-letter">d</div>
		    <div class="key key-letter">f</div>
		    <div class="key key-letter">g</div>
		    <div class="key key-letter">h</div>
		    <div class="key key-letter">j</div>
		    <div class="key key-letter">k</div>
		    <div class="key key-letter">l</div>
		    <div class="key">;</div>
		    <div class="key">"</div>
		    <div class="key key-special key-wide">Enter</div>
		  </div>
		  <div class="keyboard_row">
		    <div class="key key-special key-wide">Shift</div>
		    <div class="key key-letter">z</div>
		    <div class="key key-letter">x</div>
		    <div class="key key-letter">c</div>
		    <div class="key key-letter">v</div>
		    <div class="key key-letter">b</div>
		    <div class="key key-letter">n</div>
		    <div class="key key-letter">m</div>
		    <div class="key">&lt;</div>
		    <div class="key">></div>
		    <div class="key">?</div>
		    <div class="key key-special key-wide">Shift</div>
		  </div>
		  <div class="keyboard_row">
		    <div class="key key-special">Accept</div>
		    <div class="key key-space"> </div>
		    <div class="key key-special key-wide">Cancel</div>
		  </div>
		</div>
	</body>
</html>
